# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.env
.idea/  # PyCharm project files (optional, but often good to ignore if others use different IDEs)

# Django specific
db.sqlite3
# Ignore the entire media directory
media/
/static_collected/ # Directory for collected static files in production
*.log
local_settings.py # If you create a local settings file for sensitive info
