{% extends 'base.html' %}

{% block content %}
    <h1>Recent Clips</h1>
    <hr>

    {% for clip in clips %}
        <article>
            <h2>{{ clip.title }}</h2>
            <p>Uploader: {{ clip.uploader.username }}</p>
            <p>Date: {{ clip.date_uploaded }}</p>
            <p>{{ clip.description }}</p>
            <video controls width="500">
                <source src="{{ clip.video_file.url }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <br><br>
        </article>
    {% endfor %}
{% endblock %}