{% extends 'base.html' %}

{% block content %}
    <h1>{{ user_object.username }}'s Clips</h1>
    <p>A gallery of all the clips uploaded by this user.</p>
    <hr>

    {% for clip in clips %}
        <article>
            <h2>{{ clip.title }}</h2>
            <p>Uploader: {{ clip.uploader.username }}</p>
            <p>Date: {{ clip.date_uploaded }}</p>
            <p>{{ clip.description }}</p>
            {% if clip.converted_video_file %}
                <video controls width="500">
                    <source src="{{ clip.converted_video_file.url }}" type="video/mp4">
                    Your browser does not support this video tag.
                </video>
            {% else %}
                <p>Video is currently processing...</p>
            {% endif %}
            <br><br>
        </article>
    {% empty %}
        <p>{{ user_object.username }} has not uploaded any clips yet.</p>
    {% endfor %}
{% endblock %}