<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if title %}
        <title>{{ title }} - Zenkai Clips</title>
    {% else %}
        <title>Zenkai Clips</title>
    {% endif %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block extra_head %}{% endblock %}
</head>
<body>
    {% block header %}
    <header>
        <nav>
            <a href="{% url 'clip-list' %}">Home</a>
            <a href="{% url 'clip-create' %}">Upload Clip</a>
            {% if user.is_authenticated %}
                <a href="{% url 'dashboard' %}">Dashboard</a>
                <a href="{% url 'profile' %}">Profile</a>
                <form style="display: inline" method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Logout</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'register' %}">Register</a>
            {% endif %}
        </nav>
    </header>
    {% endblock %}

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>